//nav
.navbar-brand-self,
.offcanvas-title-self{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Ubuntu Mono', monospace;
    color: #0f0f0f;
}

.nav-link-self{
    font-size: 3rem;
}
.navbar-bg{
    background-color:#f0f0f0;
    box-shadow: 0px 0.8px 3px #0f0f0f13;
    }