
//colors
$primary: #0f0f0f;
$secondary: #f0f0f0;
//fonts
$font-family-base:'Ubuntu', sans-serif;
$font-family-code: 'Ubuntu Mono', monospace;
//btns
$btn-focus-width: 0;
$btn-active-width:0;
$btn-close-focus-shadow: none;
$body-bg: $secondary;